body {
  background: url(../images/background.jpg);
  padding: 3em;
}

.container {
  max-width: 1630px;
  margin: 0 auto;
  display: flex;
  gap: 3.3em;
}
.container .left-side {
  display: flex;
  flex-direction: column;
  gap: 3.3em;
}
.container .right-side {
  background-color: #ccc;
  display: flex;
  flex: 1 1 30%;
}
article {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding: 6.9em 5em;
  
}
 img {
  object-fit: cover;
  display: block;
  border-radius: 50%;
  width: 243px;
  aspect-ratio:1/1;
  height: auto;
}
